body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f8bbd0, #f06292); /* Rosa suave */
}

h1 {
    text-align: center;
    color: #C2185B;  /* Cor rosa bebê */
    margin-top: 50px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #C2185B;  /* Cor rosa bebê */
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #F06292;  /* Bordas em tom de rosa claro */
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    border-color: #C2185B;  /* Cor rosa bebê nas bordas ao focar */
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #E91E63;  /* Cor rosa forte para o botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #C2185B;  /* Cor rosa escuro ao passar o mouse */
}

span {
    display: block;
    margin-top: 5px;
    color: red;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #C2185B;  /* Cor rosa bebê para os links */
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: #E91E63;  /* Cor mais forte ao passar o mouse */
}

input::placeholder {
    color: #bbb;
}

@media (max-width: 480px) {
    form {
        padding: 15px;
        margin: 10px;
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }
}


