body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8bbd0;
    /* Cor sólida rosa bebê */
}

h1 {
    text-align: center;
    color: #C2185B;
    /* Rosa bebê */
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #C2185B;
    /* Rosa bebê */
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #F06292;
    /* Bordas em tom de rosa claro */
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #E91E63;
    /* Rosa forte */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #C2185B;
    /* Rosa escuro ao passar o mouse */
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #C2185B;
    /* Rosa bebê */
    text-decoration: none;
}

a:hover {
    color: #E91E63;
    /* Rosa forte ao passar o mouse */
}

#mensagemErro {
    color: red;
    text-align: center;
    margin-top: 10px;
}

#senhaRecuperada {
    background-color: #f8bbd0;
    /* Rosa suave para o fundo */
    border: 1px solid #F06292;
    /* Bordas em tom de rosa claro */
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

#senhaRecuperada h2 {
    color: #C2185B;
    /* Rosa bebê */
    margin-bottom: 10px;
}

#senha {
    color: #C2185B;
    /* Rosa bebê */
    font-size: 18px;
    font-weight: bold;
}

